<!--Navbar-->
<div class="container-fliud">
  <div class="nav navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img alt="GatherUP" src="Images/logo_v3.png" />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right" data-ng-show="user != null">
      <li><a data-ng-click="loadEventListPage()">My Events</a></li>
      <li><a data-ng-click="loadProfilePage()">{{user.name}}</a></li>
      <li><a data-ng-click="logOut()">SIGN OUT</a></li>
    </ul>
  </div>
</div>



<!--HOME-->
<div id="HomeDiv" data-ng-show="curPageType == pageType.HOME">
  <div class="home-island text-center">
    <h1>Welcome to GatherUP</h1>
    <p>The #1 site for Gathering people UP!</p>
  </div>
  <div class="home-island">
    <div class="container">
      <div class="col-lg-6">
        <h1>Sign in</h1>
        <form>
          <table class="form-table">
            <tbody>
              <tr>
                <td><label for="user">Email:</label></td>
                <td><input class="wide" name="user" type="email" data-ng-model="signinData.email" /></td>
              </tr>
              <tr>
                <td><label for="pass">Password:</label></td>
                <td><input class="wide" name="pass" type="password" data-ng-model="signinData.password" /></td>
              </tr>
              <tr>
                <td></td>
                <td><input class="btn btn-primary" type="button" value="Sign In" data-ng-click="logIn()" /></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="col-lg-6">
        <h1>Register</h1>
        <form>
          <table class="form-table">
            <tbody>
              <tr>
                <td><label for="user">Email:</label></td>
                <td><input class="wide" name="user" type="email" data-ng-model="registerData.email" /></td>
              </tr>
              <tr>
                <td><label for="pass">Password:</label></td>
                <td><input class="wide" name="pass" type="password" data-ng-model="registerData.password1" /></td>
              </tr>
              <tr>
                <td><label for="pass2">Password Again:</label></td>
                <td><input class="wide" name="pass2" type="password" data-ng-model="registerData.password2" /></td>
              </tr>
              <tr>
                <td><label for="email">Name:</label></td>
                <td><input class="wide" name="email" type="text" data-ng-model="registerData.username" /></td>
              </tr>
              <tr>
                <td><label for="addr">Home Address:</label></td>
                <td><input class="wide" name="addr" type="text" ng-autocomplete="result1" data-ng-model="registerData.address" /></td>
              </tr>
              <tr>
                <td></td>
                <td><input class="btn btn-primary" type="button" value="Register" data-ng-click="register()" /></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>  
  </div>
</div>



<!--EVENT LIST-->
<div id="EventListDiv" data-ng-show="curPageType == pageType.EVENTLIST">
  <div class="container-fluid">
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title">
        <u>Events You're Hosting</u>
      </h5>
      <div class="event" data-ng-repeat="e in events.hostedEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-danger event-corner-btn" data-ng-click="deleteEvent($event, e.ID)">x</button>
        <div class="event-title">{{e.name}}</div>
        <div class="event-date">{{e.date.toLocaleTimeString()}} {{e.date.toLocaleDateString()}}</div>
        <div class="event-location">{{e.loc}}</div> 
      </div>
      <div class="text-center">
        <button id="createNewBtn" class="btn btn-warning" data-ng-click="createNewEvent()">Create New Event</button> 
      </div>
    </div>
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title"><u>Events You're Attending</u></h5>
      <div class="event" data-ng-repeat="e in events.attendEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-danger event-corner-btn" data-ng-click="unattendEvent($event, e.ID)">x</button>
        <div class="event-title">
          <span>{{e.name}}</span>
          <span data-ng-show="e.status == eventStatus.ADMIN">(Admin)</span>
        </div>
        <div class="event-date">{{e.date.toLocaleTimeString()}} {{e.date.toLocaleDateString()}}</div>
        <div class="event-location">{{e.loc}}</div>
      </div>
      <div data-ng-show="events.inviteEvents.length > 0">
        <h5 class="event-list-title"><u>Invited</u></h5>
        <div class="event" data-ng-repeat="e in events.inviteEvents" data-ng-click="openEventPage(e.status, e.ID)">
          <button class="btn btn-xs btn-info event-corner-btn" data-ng-click="attendEvent($event, e.ID)">Attend</button>
          <div class="event-title">{{e.name}}</div>
          <div class="event-date">{{e.date.toLocaleTimeString()}} {{e.date.toLocaleDateString()}}</div>
          <div class="event-location">{{e.loc}}</div>
        </div>
      </div>
      <h4 data-ng-show="events.attendEvents.length == 0 && events.inviteEvents.length == 0">
        Don't be shy! Sign up for one of the public events in the list to the right.
      </h4>
    </div>
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title"><u>Nearby Events</u></h5>
      <select data-ng-model="radius" 
              data-ng-options="r.val as r.text for r in radiusOptions"
              data-ng-change="radiusChanged()"></select>
      <div class="event" data-ng-repeat="e in events.localEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-info event-corner-btn" data-ng-click="attendEvent($event, e.ID)">Attend</button>
        <div class="event-title">{{e.name}}</div>
        <div class="event-date">{{e.date.toLocaleTimeString()}} {{e.date.toLocaleDateString()}}</div>
        <div class="event-location">{{e.loc}}</div>
      </div>
      <h4 data-ng-show="events.localEvents.length == 0">Looks like there's nothing happening nearby.  You should live somewhere better.</h4>
    </div>
  </div>
</div>



<!--EVENT VIEWER-->
<div id="EventViewDiv" data-ng-show="curPageType == pageType.EVENTVIEW">
  <div class="eventview-edit" data-ng-show="curEventStatus == eventStatus.HOSTEDIT">
    <div class="home-island">
      <h3><u>Edit Event</u></h3>
      <button class="btn btn-danger eventview-title-rightbutton" data-ng-click="deleteCurEvent()">Cancel Event</button>
      <form>
        <table>
          <tbody>
            <tr>
              <td><label for="name">Name:</label></td>
              <td><input class="wide" name="name" type="text" data-ng-model="curEvent.name" /></td>
            </tr>
            <tr>
              <td><label for="loc">Location:</label></td>
              <td><input class="wide" name="loc" type="text" ng-autocomplete="result1" data-ng-model="curEvent.loc" /></td>
            </tr>
            <tr>
              <td><label for="sTime">Start Time:</label></td>
              <td><timepicker data-ng-model="curEvent.startTime"></timepicker></td>
            </tr>
            <tr>
              <td><label for="sTime">Start Day:</label></td>
              <td>
                <datepicker ng-model="curEvent.startTime" min-date="todayDate" show-weeks="true" class="well well-sm"></datepicker>
              </td>
            </tr>
            <tr>
              <td><label for="sTime">End Time:</label></td>
              <td><timepicker data-ng-model="curEvent.endTime"></timepicker></td>
            </tr>
            <tr>
              <td><label for="eTime">End Day:</label></td>
              <td><datepicker ng-model="curEvent.endTime" min-date="todayDate" show-weeks="true" class="well well-sm"></datepicker></td>
            </tr>
            <tr>
              <td><label for="desc">Description:</label></td>
              <td><textarea name="desc" data-ng-model="curEvent.desc"></textarea></td>
            </tr>
            <tr>
              <td><label for="public">Visible to Public?:</label></td>
              <td><input class="wide" name="public" type="checkbox" data-ng-model="curEvent.isPublic" data-ng-change="alert(curEvent.isPublic)" /></td>
            </tr>
            <tr>
              <td></td>
              <td><button class="btn btn-primary" data-ng-click="saveEventChanges(); curEventStatus = eventStatus.HOST;">Save Changes</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="home-island">
      <h3><u>Edit Supplies</u></h3>
      <div class="eventview-supplyedit-supply"
           data-ng-repeat="s in fullSupplies">
        <div>
          Name: <input class="wide" type="text" data-ng-model="s.name"/>
        </div>
        <div class="eventview-supplyedit-quantity"
             data-ng-repeat="q in s.quantities">
          <div>
            <span>Range: </span>
            <input type="number" data-ng-model="q.min" disabled />
            <span> to </span> 
            <input type="number" data-ng-model="q.max" 
                   data-ng-disabled="$index == s.quantities.length-1"
                   data-ng-change="quantityMaxUpdated(s, $index)"/>
          </div>
          <div>
            Quantity: <input type="text" data-ng-model="q.quantity"/>
          </div>
          <div>
            <button class="btn btn-xs btn-info" 
                    data-ng-click="addQuantity(s)">+</button>
            <button class="btn btn-xs btn-warning"
                    data-ng-click="removeQuantity(s)"
                    data-ng-disabled="s.quantities.length <= 1">-</button>  
          </div>
        </div>
        <div>
          <button class="btn btn-xs btn-info"
                  data-ng-click="addSupply()">+</button>
          <button class="btn btn-xs btn-warning"
                  data-ng-click="removeSupply()"
                  data-ng-disabled="fullSupplies.length <= 0">-</button>
        </div>
      </div>
      <button class="btn btn-primary" data-ng-click="saveSupplyChanges()">Save Changes</button> 
    </div>
  </div>
  <div class="eventview-nonedit" data-ng-show="curEventStatus != eventStatus.HOSTEDIT">
    <div class="eventview-titledisplay">
      <div class="home-island eventview-title">
        <button class="btn btn-warning eventview-title-rightbutton" 
                data-ng-show="curEventStatus == eventStatus.HOST"
                data-ng-click="editCurEvent()">Edit</button>
        <h2>{{curEvent.name}}</h2>
        <h4>{{curEvent.startTime.toLocaleTimeString()}} {{curEvent.startTime.toLocaleDateString()}} - {{curEvent.endTime.toLocaleTimeString()}} {{curEvent.endTime.toLocaleDateString()}}</h4>
        <h4>{{curEvent.loc}}</h4>
        <h5>Hosted by {{curEvent.hostName}}</h5>
      </div>
      <div class="home-island eventview-desc">
        {{curEvent.desc}}
      </div>
    </div>
    <div class="eventview-commentlist home-island">
      <h3><u>Comments</u></h3>
      <div class="eventview-comment" data-ng-repeat="comm in curEvent.comments">
        <button class="eventview-comment-delete btn btn-xs btn-danger" 
                data-ng-show="curEventStatus >= eventStatus.HOST || comm.email == user.email" 
                data-ng-click="deleteComment(comm.ID)">x</button>
        <h6>{{comm.username}} - {{comm.date.toLocaleTimeString()}} {{comm.date.toLocaleDateString()}}</h6>
        <p>{{comm.text}}</p>
      </div>
      <button class="btn btn-info" data-ng-click="createComment()" data-ng-show="curEventStatus >= eventStatus.GUEST">Comment</button>
    </div>
    <div class="eventview-guestsuppliesblock" data-ng-show="curEventStatus >= eventStatus.ADMIN">
      <div class="container">
        <div class="eventview-island eventview-guestlist col-lg-6">
          <h3><u>Guests</u> <small>{{curEvent.guests.length}} people attending</small></h3>
          <div class="eventview-guest" data-ng-repeat="g in curEvent.guests">
            <button class="btn btn-xs btn-danger eventview-title-rightbutton" 
                    data-ng-click="removeGuest(g.email)">x</button>
            <h5><span>{{g.name}}</span><span data-ng-show="g.isGuest == false"> (ADMIN)</span></h5>
          </div>
          <div data-ng-show="curEvent.guests.length == 1 && curEvent.isPublic == false">This event is private, so you'll need to invite anyone you want to come</div>
          <input type="text" data-ng-model="inviteGuestEmail" placeholder="Invite somebody" /> <!--TODO: Typeahead? -->
          <button class="btn btn-primary" data-ng-click="inviteAsAdmin()">Invite as Admin</button>
          <button class="btn btn-info" data-ng-click="inviteAsGuest()">Invite as Guest</button>  
        </div>
        <div class="eventview-island eventview-supplylist col-lg-6">
          <h3><u>Supplies</u></h3>
          <div class="eventview-supply" data-ng-repeat="s in curEvent.supplies">
            <h5><strong>{{s.name}}</strong></h5>
            <h6>{{s.quantity}}</h6>
            <button class="btn btn-sm btn-info" 
                    data-ng-show="s.userEmail == null"
                    data-ng-click="bringSupply(s)">Volunteer to bring</button>
            <h6 data-ng-show="s.userEmail != null && s.userEmail != user.email">{{s.username}} is bringing this</h6>
            <div data-ng-show="s.userEmail == user.email">
              <h6>You are bringing this</h6>
              <button class="btn btn-xs btn-danger"
                      data-ng-click="bailOnSupply(s)">Bail</button>  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="eventview-carpool home-island" data-ng-show="curEventStatus != eventStatus.VIEWER">
      <h3><u>Directions</u></h3>
      <label for="carpool">Willing to carpool?</label>
      <input name="carpool" type="checkbox" 
             data-ng-model="curEvent.isCarpooling"
             data-ng-change="updateCarpool()" />
      <br />
      <div data-ng-show="curEvent.isCarpooling">
        <label for="seats">Number of open seats in your car (not counting yours):</label>
        <input name="seats" type="number" min="0" step="1" max="8" 
               data-ng-model="curEvent.numOpenSeats" 
               data-ng-change="updateCarpool()"/>
      </div>
      <button class="btn btn-primary" data-ng-click="getDirections()">Get directions to event</button>  
      <div class="eventview-carpool-map" style="height: 500px" data-ng-show="showMap">
        <!-- These divs will contain the google-created maps and directions -->
        <div id="directions-panel" style="overflow-y: scroll"></div>
        <div id="map-canvas"></div>
      </div>  
    </div> 
  </div> 
</div>



<!--PROFILE-->
<div id="ProfileDiv" data-ng-show="curPageType == pageType.PROFILE">
  <div class="home-island profile-form">
    <button class="btn btn-danger profile-delete-btn" data-ng-click="deleteAccount()">Delete Account</button> 
    <form>
      <table>
        <tbody>
          <tr>
            <td><label>Email:</label></td>
            <td><div>{{user.email}}</div></td>
          </tr>
          <tr>
            <td><label for="p-name">Name:</label></td>
            <td><input class="wide" name="p-name" type="text" data-ng-model="userData.name" /></td>
          </tr>
          <tr>
            <td><label for="p-loc">Home Address:</label></td>
            <td><input class="wide" name="p-loc" type="text" ng-autocomplete="result1" data-ng-model="userData.addr" /></td>
          </tr>
          <tr>
            <td></td>
            <td><button class="btn btn-info" data-ng-click="saveProfileChanges()">Save Changes</button></td>
          </tr>
          <tr>
            <td><label for="p-password1">Change Password:</label></td>
            <td><input class="wide" name="p-password1" type="password" data-ng-model="userData.password1" /></td>
          </tr>
          <tr>
            <td><label for="p-password2">Confirm New Password:</label></td>
            <td><input class="wide" name="p-password2" type="password" data-ng-model="userData.password2" /></td>
          </tr>
          <tr>
            <td></td>
            <td><button class="btn btn-info" data-ng-click="updatePassword()">Change Password</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>