<!--Navbar-->
<div class="container-fliud">
  <div class="nav navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">
        <img alt="GatherUP" src="Images/logo_v3.png" />
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right" data-ng-show="user != null">
      <li><a data-ng-click="curPageType = pageType.EVENTLIST">My Events</a></li>
      <li><a>{{user.name}}</a></li>
      <li><a data-ng-click="logOut()">SIGN OUT</a></li>
    </ul>
  </div>
</div>



<!--HOME-->
<div id="HomeDiv" data-ng-show="curPageType == pageType.HOME">
  <div class="home-island text-center">
    <h1>Welcome to GatherUP</h1>
    <p>The #1 site for Gathering people UP!</p>
  </div>
  <div class="home-island">
    <div class="container">
      <div class="col-lg-6">
        <h1>Sign in</h1>
        <form>
          <label for="user">Username:</label>
          <input name="user" type="text" data-ng-model="signinData.username" />
          <br />
          <label for="pass">Password:</label>
          <input name="pass" type="password" data-ng-model="signinData.password" />
          <br />
          <input class="btn btn-primary" type="button" value="Sign In" data-ng-click="logIn()" />
        </form>
      </div>
      <div class="col-lg-6">
        <h1>Register</h1>
        <form>
          <table class="form-table">
            <tbody>
              <tr>
                <td><label for="user">Username:</label></td>
                <td><input name="user" type="text" data-ng-model="registerData.username" /></td>
              </tr>
              <tr>
                <td><label for="pass">Password:</label></td>
                <td><input name="pass" type="password" data-ng-model="registerData.password1" /></td>
              </tr>
              <tr>
                <td><label for="pass2">Password Again:</label></td>
                <td><input name="pass2" type="password" data-ng-model="registerData.password2" /></td>
              </tr>
              <tr>
                <td><label for="email">Email:</label></td>
                <td><input name="email" type="email" data-ng-model="registerData.email" /></td>
              </tr>
              <tr>
                <td><label for="addr">Home Address:</label></td>
                <td><input name="addr" type="text" data-ng-model="registerData.address" /></td>
              </tr>
              <tr>
                <td></td>
                <td><input class="btn btn-primary" type="button" value="Register" data-ng-click="register()" /></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>  
  </div>
</div>



<!--EVENT LIST-->
<div id="EventListDiv" data-ng-show="curPageType == pageType.EVENTLIST">
  <div class="container-fluid">
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title">
        <u>Events You're Hosting</u>
      </h5>
      <div class="event" data-ng-repeat="e in events.hostedEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-danger event-corner-btn" data-ng-click="deleteEvent($event, e.ID)">x</button>
        <div class="event-title">{{e.name}}</div>
        <div class="event-date">{{e.date}}</div>
        <div class="event-location">{{e.loc}}</div> 
      </div>
      <div class="text-center">
        <button id="createNewBtn" class="btn btn-warning" data-ng-click="createNewEvent()">Create New Event</button> 
      </div>
    </div>
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title"><u>Events You're Attending</u></h5>
      <div class="event" data-ng-repeat="e in events.attendEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-danger event-corner-btn" data-ng-click="unattendEvent($event, e.ID)">x</button>
        <div class="event-title">
          <span>{{e.name}}</span>
          <span data-ng-show="e.status == eventStatus.ADMIN">(Admin)</span>
        </div>
        <div class="event-date">{{e.date}}</div>
        <div class="event-location">{{e.loc}}</div>
      </div>
      <div data-ng-show="events.inviteEvents.length > 0">
        <h5 class="event-list-title"><u>Invited</u></h5>
        <div class="event" data-ng-repeat="e in events.inviteEvents" data-ng-click="openEventPage(e.status, e.ID)">
          <button class="btn btn-xs btn-info event-corner-btn" data-ng-click="attendEvent($event, e.ID)">Attend</button>
          <div class="event-title">{{e.name}}</div>
          <div class="event-date">{{e.date}}</div>
          <div class="event-location">{{e.loc}}</div>
        </div>
      </div>
      <h4 data-ng-show="events.attendEvents.length == 0 && events.inviteEvents.length == 0">
        Don't be shy! Sign up for one of the public events in the list to the right.
      </h4>
    </div>
    <div class="col-lg-4 event-list">
      <h5 class="event-list-title"><u>Nearby Events</u></h5>
      <div class="event" data-ng-repeat="e in events.localEvents" data-ng-click="openEventPage(e.status, e.ID)">
        <button class="btn btn-xs btn-info event-corner-btn" data-ng-click="attendEvent($event, e.ID)">Attend</button>
        <div class="event-title">{{e.name}}</div>
        <div class="event-date">{{e.date}}</div>
        <div class="event-location">{{e.loc}}</div>
      </div>
      <h4 data-ng-show="events.localEvents.length == 0">Looks like there's nothing happening nearby.  You should live somewhere better.</h4>
    </div>
  </div>
</div>



<!--EVENT VIEWER-->
<div id="EventDiv" data-ng-show="curPageType == pageType.EVENTVIEW">
  <div class="eventview-titledisplay" data-ng-show="curEventStatus <= eventStatus.HOST">
    <div class="home-island eventview-title">
      <button class="btn btn-warning eventview-title-editbutton" data-ng-show="curEventStatus == eventStatus.HOST" data-ng-click="curEventStatus = eventStatus.HOSTEDIT">Edit</button>
      <h2>{{curEvent.name}}</h2>
      <h4>{{curEvent.startTime.toLocaleTimeString()}} {{curEvent.startTime.toLocaleDateString()}} - {{curEvent.endTime.toLocaleTimeString()}} {{curEvent.endTime.toLocaleDateString()}}</h4>
      <h4>{{curEvent.loc}}</h4>
    </div>
    <div class="home-island eventview-desc">
      {{curEvent.desc}}
    </div>
  </div>
  <div class="eventview-titleedit" data-ng-show="curEventStatus == eventStatus.HOSTEDIT">
    <div class="home-island">
      <!--Edit Form-->
    </div>
  </div>
  <div class="eventview-commentlist home-island">
    <h3><u>Comments</u></h3>
    <div class="eventview-comment" data-ng-repeat="comm in curEvent.comments">
      <button class="eventview-comment-delete btn btn-xs btn-danger" data-ng-show="curEventStatus >= eventStatus.HOST || comm.email == user.email">x</button>  
      <h6>{{comm.username}} - {{comm.date.toLocaleTimeString()}} {{comm.date.toLocaleDateString()}}</h6>
      <p>{{comm.text}}</p>
    </div>
    <button class="btn btn-info" data-ng-click="createComment()" data-ng-show="curEventStatus >= eventStatus.GUEST">Comment</button>
  </div> 
  <div class="eventview-guestsuppliesblock" data-ng-show="curEventStatus >= eventStatus.ADMIN">
    <div class="container">
      <div class="eventview-island eventview-guestlist col-lg-6">
        <!--TODO: This-->
        <h3><u>Admins</u></h3>
        <h3><u>Guests</u></h3>
      </div>
      <div class="eventview-island eventview-supplylist col-lg-6">
        <!--TODO: This-->
        <h3><u>Supplies</u></h3>
      </div>
    </div>
  </div>
</div>